# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
venv/
ENV/

# Jupyter
.ipynb_checkpoints/

# Data
data/
models/

# Distribution / packaging
build/
dist/

# Logs
*.log

# OS
.DS_Store

# IDE
.vscode/
